{% extends "base_generic.html" %}

{% block title %}
Documents
{% endblock title %}



{% block content %}
<form action="{% url 'list' %}" class="form" method="GET" action="" id="searchform" >
<div style="margin-bottom: 10px">
    {% csrf_token %}
    <div class="input-group mb-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search in title" aria-label="Search" name="title__contains" value={%  get_item filter.form.initial "title__contains" "" %} >
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#advance-search" aria-expanded="false" aria-controls="collapseExample">
        Advanced Search
    </button>
    </div>

    <div class="collapse col-sm-6" id="advance-search">
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Year</span>
            </div>
            <input type="number" class="form-control col-sm-2" id="year__lte" aria-describedby="yearMin" placeholder="min" name="year__gte" style="width: 7em" min="1901" max="2021" value={%  get_item filter.form.initial "year__gte" "" %} >
            <input type="number" class="form-control col col-sm-2" id="year__gte" aria-describedby="yearMax" placeholder="max" name="year__lte" style="width: 7em" min="1901" max="2021" value={%  get_item filter.form.initial "year__lte" "" %} >
        </div>

        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Abstract</span>
            </div>
            <textarea type="search" class="form-control" placeholder="Search in abstract" aria-label="Search" name="abstract__contains" value={%  get_item filter.form.initial "abstract__contains" "" %} ></textarea>
        </div>

         <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Document Type</span>
            </div>
             <div >
                {{ filter.form.document_type }}
             </div>
{#            <textarea type="search" class="form-control" placeholder="Search in abstract" aria-label="Search" name="abstract__contains"></textarea>#}
        </div>


        <input type="submit" value="Search" class="btn btn-primary">
    </div>
{#    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    {{ form }}#}
{#    <input class="searchfield" id="searchbox" name="q" type="button" value="{{ request.GET.q }}"/>#}

</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Published by</th>
          <th scope="col">Document Type</th>
        </tr>
      </thead>
      <tbody>
        {% for paper in page_obj %}
            <tr>
              <td>
                  <p>{{ paper.title }}</p>
                  <p>
                      <a  data-toggle="collapse" href="#abstract{{ paper.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Abstract
                      </a>
                      {% if paper.doi != "" %}
                          <a  data-toggle="collapse" href="#doi{{ paper.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            DOI
                          </a>
                      {% endif %}
                  </p>
              </td>
              <td>{{ paper.year }}</td>
              <td>{{ paper.source_title }}</td>
              <td>{% get_item document_type paper.document_type %}</td>
            </tr>
            <tr class="collapse table-secondary" id="abstract{{ paper.id }}">
                <td colspan="4">
                      <div class="card card-body">
                          {{ paper.abstract }}
                      </div>
                </td>
            </tr>
            {% if paper.doi != "" %}
                 <tr class="collapse table-secondary" id="doi{{ paper.id }}">
                    <td colspan="4">
                          <a class="card card-body" href="https://dx.doi.org/{{ paper.doi }}">
                              {{ paper.doi }}
                          </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>


<ul class="pagination justify-content-center">
    <li class="page-item">
{#          <a class="page-link" href="?{% param_replace page=1 %}" aria-label="First" onclick="document.getElementById('searchform').submit()">#}
{#            &laquo;#}
{#          </a>#}
          <button class="page-link"
                name="page"
                value="1"
                type="submit">
            <i class="fa fa-angle-left  pagination-left"></i>
          </button>
    </li>

    <li class="page-item">
        {% if page_obj.has_previous %}
{#            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">#}
{#                Previous#}
{#            </a>#}
            <button class="page-link"
                name="page"
                value={{ page_obj.previous_page_number }}
                type="submit">
            Previous
          </button>
        {% endif %}
    </li>

    {% for num in range %}
      {% if num == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">
            {{  page_obj.number  }}
            </a>
{#          <button class="page-link active"#}
{#                name="page"#}
{#                value={{ num }}#}
{#                type="submit">#}
{#            {{ num }}#}
{#          </button>#}
        </li>
      {% else %}
          <li class="page-item">
{#            <a class="page-link active" href="?page={{ num }}">#}
{#            {{  num  }}#}
{#            </a>#}
          <button class="page-link "
                name="page"
                value={{ num }}
                type="submit">
            {{ num }}
          </button>
          </li>
      {% endif %}
    {% endfor %}


    {% if page_obj.has_next %}
        <li class="page-item">
{#          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">#}
{#          Next#}
{#          </a>#}
          <button class="page-link"
                name="page"
                value={{ page_obj.next_page_number }}
                type="submit">
            Next
          </button>
        </li>
      {% endif %}

    <li class="page-item">
{#          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">#}
{#            <span aria-hidden="true">&raquo;</span>#}
{#          </a>#}
          <button class="page-link"
                name="page"
                value={{ page_obj.paginator.num_pages }}
                type="submit">
                <i class="fa fa-angle-right pagination-right"></i>
          </button>
    </li>
</ul>


</form>

<script type="text/javascript">
   $(function() {
      $(".collapse").on('hide.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
          e.target.style.display="none";
        }
      })
    });
   $(function() {
      $(".collapse").on('show.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
          e.target.style.display="";
        }
      })
    });
</script>

{% endblock content %}